{% extends "layout.html" %}
{% block title %}메인페이지{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/board_main.css" />
    <noscript><link rel="stylesheet" href="../static/css/board_noscript.css" /></noscript>
{% endblock %}
{% block content %}
<div class="is-preload">
<!-- Wrapper -->
    <div id="wrapper" style="margin-bottom: 100px;">


            <!-- 이전 글, 다음 글 -->
            <section id="before-after-wrap">
                <div id="before-after">
                    <div id="before-post"><span>제목 </span> ⇦ 이전글</div>
                    <div id="next-post">다음글 ⇨ <span> 제목</span></div>
                </div>
            </section>

            <!-- 댓글 -->
            <section class="main">
                <form method="post" action="#">
                    <div class="row gtr-uniform">
                        <div class="col-12">
                            <textarea name="demo-message" id="demo-message" id="submit-comment"
                                      placeholder="Enter your message" rows="6" style="height:150px;"></textarea>
                        </div>
                        <div class="col-12">
                            <button type="button" class="btn btn-secondary">댓글 달기</button>
                        </div>
                    </div>
                </form>
            </section>

            <!-- 댓글 목록 -->
            <section class="main" id="comments-wrap">
                <div class="comment-box">
                    <div class="comment-box-profile">
                        <img src="">
                        <div>dd</div>
                    </div>
                    <div class="comment-box-content">코멘트 내용</div>
                    <div class="comment-box-replyBtn">답글 달기</div>
                </div>
            </section>

    </div>

    <!-- 삭제 버튼 -->
    <div class="delete-board">
        <button type="button" class="btn btn-success" onclick="location.href='post_write.html' ">게시글 수정 하기</button>
        <button type="button" class="btn btn-danger" onclick="delete_board()">게시글 삭제 하기</button>
    </div>


    <script src="../static/js/board_jquery.min.js"></script>
    <script src="../static/js/board_jquery.scrollex.min.js"></script>
    <script src="../static/js/board_jquery.scrolly.min.js"></script>
    <script src="../static/js/board_browser.min.js"></script>
    <script src="../static/js/board_breakpoints.min.js"></script>
    <script src="../static/js/board_util.js"></script>
    <script src="../static/js/board_main.js"></script>
</div>
</div>
{% endblock %}