<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>회원가입 페이지</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Jua&family=Noto+Serif+KR:wght@200&display=Gowun+Dodum&display=swap"
    rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f1e32eaf40.js" crossorigin="anonymous"></script>
</head>
<style>
{#
    선택자
    #은 html id 일 때    id 중복이 불가
    .은 html class 일 때  class는 중복이 가능
    button(태그) 모든 button태그를 수정할 때
    선택자:hover 마우스를 올렸을때 js의 mouseOver
    선택자:nth-of-type(숫자)  숫자 1부터시작 태그의 특정 순서의 스타일만 변경하고 싶을 때 사용
   #}
  #join{margin-left: 30%; margin-top:0px; width:100%;}
  #logo{margin-left: 30%; margin-top:80px;width:100%; height:100px; }
  #btnbox{float: right}
</style>
<script>
    {# 제이쿼리 시작시 무조껀 필요하다고 알고 있음 걍 외워야함 #}
   $(document).ready(function (){
    {#   함수를 실행할때 함수명()#}
    });
    {# 제이쿼리르 사용하는 이유는 그냥 줄이려고 #}
   {#let a = document.getElementById("a");#}
   {#$("#a")#}
    function userJoin() {
        let user_id = $('#userId').val();
        let password = $('#userPassword').val();
        let password2 = $('#userPassword2').val();
        let name = $('#name').val();
        let email = $('#email').val();
        let user_nk = $('#nk').val();
        {# !== , === 이것으 데이터 타입까지 완전히 일치할대 #}
        if(password !== password2){
            return alert("비밀번호와 비밀번호 확인 입력값이 다릅니다.");
        }

        $.ajax({
            type: 'POST',
            url: '/join',
            data: { user_id: user_id,
                password: password,
                name: name,
                email: email,
                nk : user_nk
                },
            success: function (response) {
                //가입 완료 메시지 띄워주기
                alert(response['msg'])
                //로그인 화면으로 보내주기
                window.location.href="/login"
            }
        });
    }
</script>

<body>
<div id="wrap">
  <div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <nav>
        <div id="logo" style="">
            <div class="container" style=" text-align: center; font-size:40px;">
            <i class="fa-solid fa-user-secret"></i> 5JIJO <i class="fa-solid fa-user-secret"></i>
            </div>
        </div>
      </nav>
      <form id = "join">
        <div class="mb-3">
          <input style="height:50px" type="text" class="form-control" id="userId"  placeholder="아이디를 입력해 주세요.">
        </div>
        <div class="mb-3">
          <input style="height:50px"  type="password" class="form-control" id="userPassword" placeholder="패스워드를 입력해 주세요.">
        </div>
        <div class="mb-3">
          <input style="height:50px"  type="password" class="form-control" id="userPassword2" placeholder="패스워드확인.">
        </div>
        <div class="mb-3">
          <input style="height:50px"  type="text" class="form-control" id="name" placeholder="이름을 입력해 주세요.">
        </div>
        <div class="mb-3">
          <input style="height:50px"  type="text" class="form-control" id="nk" placeholder="닉네임를 입력해 주세요.">
        </div>
        <div class="mb-3">
          <input style="height:50px"  type="text" class="form-control" id="email" placeholder="email주소를 입력해 주세요.">
        </div>
        <div id="btnbox">
          <button type="button" class="btn btn-primary" onclick="location.href='/login'">취소</button>
          <button type="button" class="btn btn-primary" onclick="userJoin()">회원가입</button>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
</body>
</html>