<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/bootstrap-grid.css">
  <link rel="stylesheet" href="../static/css/bootstrap-reboot.css">
  <link rel="stylesheet" href="../static/css/bootstrap-utilities.css">
  <link rel="stylesheet" href="../static/css/bootstrap-utilities.rtl.css">
  <script src="../static/js/bootstrap.bundle.js"></script>
  <script src="../static/js/bootstrap.esm.js"></script>
  <script src="../static/js/bootstrap.js"></script>
</head>
<style>
  #loginPw{margin-left: 30%; margin-top:100px; width:100%;}
  #logo{margin-left: 30%; margin-top:50px;width:100%; height:150px; background-repeat: no-repeat; background-size: cover; background-image: url("https://dnvefa72aowie.cloudfront.net/karrot-cs/etc/202007/0cf1d10235c37b2635c02719125da37cc1bd632518198b1e1da7f5a364156540.png")}
  #btnbox{float: right}
</style>

<body>
  <div id="wrap">
    <div class="container">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <nav>
          <div id="logo" style="">
          </div>
        </nav>
        <form id = "loginPw" action="pyo_main.html">
          <div class="mb-3">
            <input style="height:50px" type="email" class="form-control" id="userId" aria-describedby="emailHelp" placeholder="아이디를 입력해 주세요.">
          </div>
          <div class="mb-3">
            <input style="height:50px"  type="password" class="form-control" id="userPassword" placeholder="패스워드를 입력해 주세요.">
          </div>
          <div id="btnbox">
            <button type="submit" class="btn btn-primary">로그인</button>
            <button type="button" class="btn btn-primary" onclick="location.href='join.html' ">회원가입</button>
          </div>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</body>
</html>