{% extends "layout.html" %} {# 부모껀 다 내꺼 부모는 extends 한 것 #}
{% block title %}메인페이지{% endblock %} {# 그냥 실행 시키면 jija2예가 이걸 이걸 실행 안 시켜줘서 다 망가짐 #}
{% block head %}{# 헤더 내용 #}
    {{ super() }}{# 부모 헤더 가져오기 #}
    {# 부모에 없는 헤더 내용 추가 작성 #}
    <style>
    /* 게시물(.card)   */
    .card {
        display: inline-block;
        margin: 25px;
        box-sizing: border-box;
        height: 450px;

        overflow: hidden;
        text-overflow: ellipsis;

    }

    .card-img-top {
        width: 286px;
        height: 250px;
        object-fit: cover;
    }

    /*
    .card:nth-child(4n+2) {
        margin-left: 200px;
    }
    */

    .top-menu > a {
        color: black;
        text-decoration: none;
    }

    /* 제목칸 */
    .card-title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    /* 내용칸 */
    .card-text {
        height: 57px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /*닉네임칸*/
    .nick {
        font-size: 12px;
    }

    /* 쉐도우 */
    .card:hover {
        box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 1);
    }

</style>
<script>
    $(document).ready(function () {
        show_table(1);
    });
    var page = 2;
    var k = '';
    $(window).scroll(function() {
    if ($(window).scrollTop() == $(document).height() - $(window).height()) {
        show_table(page);
        if(k!=undefined){
            alert('page가 변경됩니다.')
            page++;
        }
    }
    });
//  로그인하면 보여줌 (GET)
    function show_table(num){
         $.ajax({
            type: 'GET',
            url: '/getMain',
            data: {num:num},
            success: function (response) {
                k = response[0];
                for(let i=0; i< response.length; i++ ){
                    let bd_id = response[i]["id"]
                    let title = response[i]["bd_title"]
                    let content = response[i]["bd_content"]
                    let todate = response[i]["bd_writeDate"]
                    let date_change = new Date (todate).toISOString().split('T')[0]
                    let nk = response[i]["user_nk"]
                    let img_name = response[i]["image_name"]
                    let img_src = "src"

                    if (img_name === null || img_name === undefined) {
                            img_src = `../static/picture/02.jpg`
                        } else {
                            img_src = `../static/posting_images/${user_nk}/board_${bd_id}/${img_name}`;
                        }

                    let temp_html = `<div class="card" style="width: 18rem;" onclick="location.href='/boards/${bd_id}'">
                                        <img src=${img_src} class="card-img-top" alt="이미지">
                                        <div class="card-body">
                                            <h3 class="card-title">${title}</h3>
                                            <p class="card-text">${content}</p>
                                            <span>${date_change}</span>
                                            <hr style="margin: 0">
                                            <p class="nick">닉네임: ${nk}</p>
                                        </div>
                                    </div>`
                    $('#board_new').append(temp_html);
                }
            }
        });
    }

    <!-- 흑백반전 -->
    var toggle = 0;
    function change_color() {
        let bg_color
        let color
        if (toggle == 0) {
            bg_color = 'black'
            color = 'white'
            toggle = 1
        } else {
            bg_color = 'white'
            color = 'black'
            toggle = 0
        }
        $('*').css('background-color', bg_color).css('color', color);
        $('.card-body').css('border', '1px solid ' + color);
        $('.card-img-top').css('border', '1px solid ' + color);
        $('hr').css('border', '1px solid ' + color);

    }

</script>
{% endblock %}{# 헤더 끝 #}
{% block content %}{# 내꺼 내용 시작 #}

<!-- 게시물 -->
<div class="container-fluid" >
    <div class="row">
        <div class ="col-md-1"></div>
        <div class ="col-md-10" id="board_new"></div>
        <div class ="col-md-1"></div>
    </div>
</div>

{% endblock %}{# 내꺼 내용 끝 layout 110~112에 내꺼 삽입됨 #}