{% extends "layout.html" %}
{% block title %}끝{% endblock %}
{% block head %}
    {{ super() }}
<style>

</style>
<script>
    $(document).ready(function(){

    });
    function view_btn(){
        $('#up').css('display','none');
        $('#user_fp').css('display','none');
        $('#savebtn').css('display','block');
        $('#userfp').css('display','block');
        let text = $('#user_fp').text();
        $('#userfp').val(text);
    }
    function view_btn2(){
        $('#up2').css('display','none');
        $('#user_site').css('display','none');
        $('#savebtn2').css('display','block');
        $('#usersite').css('display','block');
        let text = $('#user_site').text().replace('.5JIJO','');
        $('#usersite').val(text);
    }

    function fpsave(){
        let val1 = $('#userfp').val();
        $.ajax({
            type:"POST",
            url:"/mypage/fp",
            data:{user_fp : val1},
            success:function(response){
                alert(response['msg']);
                window.location.reload();
            }
        });
    }
    function sitesave(){
        let val1 = $('#usersite').val()+'.5JIJO';
        console.log(val1)
        $.ajax({
            type:"POST",
            url:"/mypage/site",
            data:{user_site : val1},
            success:function(response){
                alert(response['msg']);
                window.location.reload();
            }
        });
    }
    function userDel(){
        $.ajax({
            type:"POST",
            url:"/mypage/del",
            data:{},
            success:function(response){
                alert(response['msg']);
                window.location.href="/";
            }
        });
    }

</script>
{% endblock %}

{% block content %}
<div id="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <section id="mainPage">
         <div class="container">
            <div class="row">
              <div class ="col-md-3">
                <div style="width: 100%; height:200px; ">
{#                    <img src="https://leejk-folder.s3.ap-northeast-2.amazonaws.com/aa.png">#}
                </div>
                  <from action="/uploader" method="POST" enctype="multipart/form-data">
                      <input type="file" id="imgup" name="file" >
                      <label for="imgup" style="text-align: center; margin-left:31%; margin-top:10px;padding:5px;border-radius: 5px; border: 1px solid black">이미지 선택</label>
                      <input type="submit" id="upd" />
                      <label for="upd" style="text-align: center; margin-left:31%; margin-top:10px;padding:5px;border-radius: 5px; border: 1px solid black">이미지 넣기</label>

                  </from>
              </div>
              <div class ="col-md-6" style="padding-left:20px; border-left:1px solid black;">
                <h2>{{ session['user_nk'] }}</h2>
                <div id="ff">
                    <span id ="user_fp">{{ param['user_fp'] }}</span>
                    <input style="height:30px; display: none;" type="text" class="form-control" id="userfp"  placeholder="프로필을 입력해주세요">
                    <button id="savebtn" style="display: none" onclick="fpsave()">저장</button>
                    <button id="up" onclick="view_btn()">수정하기</button>
                </div>
              </div>
              <div class ="col-md-3"></div>
              <div class="container-fluid" id = "content" style="margin-top:80px; padding-left:30px;">
                <div class="row">
                  <div class="col-md-3">
                      <span id ="user_site">{{ param['user_site'] }}</span>
                  <input style="height:30px; display: none;" type="text" class="form-control" id="usersite"  placeholder="5jijo제목을 입력해주세요.">
                  </div>
                  <div class="col-md-8">
                      <button id="up2" onclick="view_btn2()">수정하기</button>
                      <button id="savebtn2" style="display: none" onclick="sitesave()">저장</button>
                  </div>
                </div>
                  <div>나의 5jijo 제목 입니다.</div>
                  <hr>
                  <div class="row">
                  <div class="col-md-3">이메일 주소</div>
                  <div class="col-md-8">이메일주소</div>
                </div>
                  <div>회원 인증 또는 시스템에서 발송하는 이메일을 수신하는 주소입니다.</div>
                  <hr>
                  <div class="row">
                  <div class="col-md-3">회원 탈퇴</div>
                  <div class="col-md-8">
                      <button onclick="userDel()">회원 탈퇴</button>
                  </div>
                </div>
                <div>탈퇴 시 작성하신 포스트 및 댓글이 모두 삭제되며 복구되지 않습니다.</div>
              </div>
            </div>
         </div>

        </section>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
{% endblock  %}